*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    }
    ul{
        list-style: none;
    }
    .nav-links a{
        text-decoration: none;
        color: black;
        transition: 0.5s;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.651);
        font-weight: bold;
    }
    .nav-links a:hover{
        color: #ED1B24;
    }
    
    .navbar-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(151, 150, 150, 0.257);
    
    }
    .nav-links{
        display: flex;
        gap:40px;
        align-items: center;
    }
    .logo{
    width: 8%;
    }
    .btn-login{
        background-color: #ED1B24;
        color: #ffff;
        width: 200px;
        height: 35px;
        cursor: pointer;
        border: none;
        border-radius: 26px;
        font-size: 18px;
    }
    .btn-login:hover{
        background-color: #ed1b2696;
    }
    .navbar-inner i{
        display: none;
    }
    /*main style*/
    @media(min-width:500px){
        main{
            margin: 0 auto;
            width: 100%;
            margin-top: 70px;
        }
        
        h2{
            font-size: 62px;
        }
        h3{
            font-size: 22px;
        }
        /*sections style*/
        section{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 70px;
        }
        section img{
            width: 450px;
            border-radius: 26px;
        }
        section p{
            width: 350px;
        }
        .section-reverse{
            flex-direction: row-reverse
        }
    }
     .bx-menu{
        cursor: pointer;
    }
    /*mobile style*/
 
    @media(max-width: 450px){
    main{
        text-align: justify;
    padding: 30px;
    }
    .navbar-inner i{
        display: block;
    }
    section{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    p{
        font-size: 15px;
    margin-bottom: 20px;
    }
    .navbar-inner{
        justify-content: space-between;
    }
    .nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(100px at 90% -15%);
    pointer-events: none;
    transition: 1s ease-out;
    }
    /*Estilos ativos*/
    nav.active .nav-links{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    h2{
    font-size: 37px;
    }
    h3{
    font-size: 20px;
    }
    img{
    width: 350px;
    border-radius: 26px;
    }
    .bx-menu{
        cursor: pointer;
        z-index: 1;
    }
    .bxs-user{
    color: #ED1B24;
    }
    .btn-login{
        display: none;
        }
        i{
        font-size: 28px;
        }
    }
    