*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
background-color: #f8f6f6;
}
ul{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.651);
    font-weight: bold;
}
.nav-links a:hover{
    color: #ED1B24;
}

.navbar-inner{
display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;
box-shadow: 2px 2px 4px rgba(151, 150, 150, 0.257);
margin-bottom: 80px;
}
.nav-links{
    display: flex;
    gap:40px;
    align-items: center;
}
.logo{
width: 8%;
}
.btn-login{
    background-color: #ED1B24;
    color: #ffff;
    width: 200px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 26px;
    font-size: 18px;
}
.btn-login:hover{
    background-color: #ed1b2696;
}
/* cards style*/
.card{
width: 350px;
height: 450px;
}
.card img{
width: 350px;
}
.cards-inner{
display: grid;
grid-template-columns: repeat(4, 0.1fr);
justify-content: center;
gap: 50px;
}
@media(max-width: 450px){
main{
padding: 0px;
}
.nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(100px at 90% -15%);
    pointer-events: none;
    transition: 1s ease-out;
    }
    nav.active .nav-links{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .bx-menu{
        cursor: pointer;
        z-index: 1;
    }
    .bxs-user{
    color: #ED1B24;
    }
    .navbar-inner{
        justify-content: space-between;
    }

.navbar-inner{
justify-content: space-between;
margin-bottom: 10px;
}
.cards-inner{
display: flex;
flex-direction: column;

align-items: left;
}
.card{
width: 100%;
height: 250px;
border-bottom: 3px solid rgba(0, 0, 0, 0.064);
padding-bottom: 10px;
}
p{
    font-size: 16px;
   
}
.price{

    font-weight: bold;
}
h3{
    font-size: 26px;
    font-weight: 400;
}
.card img{
width: 200px;

}
.bxs-user{
    color: #ED1B24;
    }
    .btn-login{
        display: none;
        }
        i{
        font-size: 28px;
        }
        .card{
            display: flex;
            gap: 20px;
        }
        .logo-cel{
            width: 80px;
            height: 50px;
        }
        span{

            color: green;
        }
        .find{
            text-align: center;
            margin: 10px;
        }
        .find input{
            border-radius: 26px;
            border: 1px solid #ed1b2683;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
        }
        .find ::placeholder{
            text-align: center;
        }
        .btn-login{
    display: none;
}
.nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(100px at 90% -15%);
    pointer-events: none;
    transition: 1s ease-out;
    }
    nav.active .nav-links{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .bx-menu{
        cursor: pointer;
        z-index: 1;
    }
    .bxs-user{
    color: #ED1B24;
    }
    .navbar-inner{
        justify-content: space-between;
    }
}