*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Poppins;
}
body{
    background-image: url(../img/background-black-and-white.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    
}
ul{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.651);
    font-weight: bold;
}
.nav-links a:hover{
    color: #ED1B24;
}

.navbar-inner{
display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;


}
.nav-links{
    display: flex;
    gap:40px;
    align-items: center;
}
.logo{
width: 8%;
}
.btn-login{
    background-color: #ED1B24;
    color: #ffff;
    width: 200px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 26px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
.btn-login:hover{
    background-color: #ed1b2696;
}
/*Apresentação estilo*/
.presentatio{
display: flex;
gap: 85px;
align-content: center;
justify-content: center; 
align-items: center; 
height: 85vh; 
}
.presentatio span{
    background-color: #ff031046;
    padding: 0 10px;
    font-size: 22px;
}
h1{
    background-color: #ffffff24;
    font-size: 90px;
}
.presentatio img{

    width: 420px;
    border-radius: 20px;
    opacity: 0.8;
}
.section-one p{
    opacity: 0.5;
    margin-top: 30px;
}
.subscribe-btn{
    background-color: #ED1B24;
    color: #ffff;
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 26px;
    font-size: 18px;
    margin-top: 30px;
    transition: 0.2s;
}
.subscribe-btn:hover{
    margin-top: 35px;
    opacity: 0.7;
}
.navbar-inner i{
    display: none;
}
@media (max-width: 1300px){
    h1{
        font-size: 55px;
    }
    .over-text{
        font-size: 14px;
    }
    .presentatio img{
        width: 350px;
    }
    
}
@media (max-width: 450px){
    h1{
font-size: 28px;
}
.navbar-inner i{
    display: block;
}
.over-text{
font-size: 11px;
}
.presentatio img{
display: none;
}
body{
background-size: cover;
}
.btn-login{
    display: none;
}
.nav-links{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(100px at 90% -15%);
    pointer-events: none;
    transition: 1s ease-out;
    }
    nav.active .nav-links{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .bx-menu{
        cursor: pointer;
        z-index: 1;
    }
    .navbar-inner{
        justify-content: space-between;
    }
    i{
        font-size: 28px;
        }
}
